@model Gigmatch.Website.Mvc.Models.VacancyIndexModel

<!DOCTYPE html>

<html>
<head>
    <title>Gigmatch</title>
</head>
<body>
<div>
    <ul data-testid="vacancies">
        @foreach (var vacancy in Model.Vacancies)
        {
            <li>@vacancy.Name</li>
        }
    </ul>
</div>
</body>
</html>